.AboutMe{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	margin-top: 10%;

}

.Habilities {
	justify-content: space-around; 
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	margin-top: 20px;
}

.HTML, .Git {
	margin-top: 5%;
}

.React .Firebase{
	margin-top: 10%;
}

.Native, .Boostrap{
	margin-top: 10%;
}

.CSS{
	margin-top: 15%;
}

.About2, .About1{
	margin-top: 5%;
}

button{
	margin-left: 20%;
	background-color: black;
	border-color: black;
	 
    
}



@media screen and (max-width:800px){
	.Habilities{
		display: flex;
		flex-wrap: wrap;
		margin-left: 20%;
	}

	p{
		margin-left: 25%;
		font-size: smaller;
	}

	.AboutMe{
		margin-left: 0;
	}
}