.CV2{
	display: flex;
	margin-top: 200PX;
	justify-content: space-around;
}

.CV3{
	margin-left: 20%;
}

.CV6{
	margin-right: 20%;
}

button{
	margin-left: 20%;
}

.SayHi{
	color: white;
	margin-left: 20%;
	margin-top: 20%;
}

h4{
	margin-top: 10%;
}
h5{
	color: #F27127;
}


@media screen and (max-width:800px){
	.CV2{
		margin-left: 10%;
	}

	.button{
		margin-left: 40%;
	}

	h3{
		font-size: 20px;
	}

	h4{
		font-size: 20px;
	}
}