.CV2{
	display: flex;
	margin-top: 200PX;
	justify-content: space-around;

}

.CV3{
	margin-left: 15%;
}

.CV6{
	margin-right: 20%;
}

button{
	margin-left: 850px;

}

.SayHi{
	color: white;
	margin-left: 20%;
	margin-top: 20%;
}

h4{
	margin-top: 10%;
}
h5{
	color: #F27127;
}


@media screen and (max-width:800px){
	.CV2{
		margin-left: 5%;
	}

	button{
		margin-left: 400px;
	}

	h3{
		font-size: 20px;

	}

	h4{
		font-size: 20px;
	}

	.CV1{
		margin-left: 1%;

	}

	.SayHi{
		margin-right:15%;
	}
}