
.GeneralMenu{
	list-style:none;
	justify-content: space-around;
	display: contents;


}

 .CV{
	margin-right: 28%;
}

.Home{
	margin-left:10%;

}

.Icono {
	
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	margin-left: 15%;
	
   
       
}

.Menu{
	
	justify-content: flex-end;
	justify-content: space-around;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	background-image: url('https://static.videezy.com/system/resources/thumbnails/000/012/825/original/soft-particles-floating-and-going-up-on-dark-background-in-4k.jpg');

}

.button{
	margin-left: 0;
	display:scroll;
     position:fixed;
     margin-top: 1%;



}


.Container{
	background-color: #000000;
}

.PhoName{
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
	
}

.Photo{
	margin-top: 80px;
	margin-left: 18%;
}

.Name{
	margin-top: 150px;
	margin-right: 20%;
	color: #F27127;
	font-size: 30px;

}

a:hover{

  color: #F27127;
}

#p01{
	color: #ffffff;

}

p{
	
font-family: 'Alegreya Sans', sans-serif;
}



@media screen and (max-width:800px){
.GeneralMenu{
	display: none;
	}
.Icono{
	display: inline-flex;
	margin-left: 30%;
	}

p{
	font-size: 70%;
	margin-left: 10%;
}

.Photo{
	height: 50%;
	width: 50%;
}

.button{
	height: 5%;
	width: 5%;
	margin-left: 30%;
	
}



span{
	align-content: center;
	display: flex;
	justify-content: f;


}

.Photo{
display: none

}
	
.Name{
	font-size: 300%;
	margin-top: 10%;
	margin-left: 25%;
	font-family: 'Lobster', cursive;
}


}